<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936625231687-jt2mk8sphahutf0hkompa2psq1lfu7eb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936625231687-jt2mk8sphahutf0hkompa2psq1lfu7eb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>936625231687-b46mgu5bkfmq45fn9d02rc639afo9g0q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCaqDGR5qv_kkZ07QURVx3WrpXjHdy5_To</string>
	<key>GCM_SENDER_ID</key>
	<string>936625231687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hiindia.app</string>
	<key>PROJECT_ID</key>
	<string>hiindia-953fd</string>
	<key>STORAGE_BUCKET</key>
	<string>hiindia-953fd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936625231687:ios:237c45642b5377ba5f5e62</string>
</dict>
</plist>